*{
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

*:focus{
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

a{
  text-decoration: none;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden !important;
}

header{
  padding: 1.6rem 6.4rem;
  background-color: #fdf2e9;
}

section,
div{
  display: block;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo img{
  width: 6.4rem;
  border-radius: 1.2rem;
  cursor: pointer;
}

.nav-list{
  display: flex;
  list-style: none;
}

.list-item{
  display: flex;
  align-items: center;
  margin: 0 2.4rem;
}

.list-item:last-child{
  margin-right: 0;
}

.nav-link{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2rem;
}

.nav-link:hover{
  text-decoration: underline;
  color: #e67e22;
}

.nav-link:hover{
  transition: all .3s;
}

.nav-btn{
  text-decoration: none !important;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  color: #fff !important;
  background-color: #e67e22;
}

/*=================== HEADER - VIEW OUT ===================*/
.hd{
  position: sticky;
  top: 0;
  left: 0;
  /* height: 100vh; */
  z-index: 9999999999;
  background-color: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(1.6rem);
  -webkit-backdrop-filter: blur(1.6rem);
}

.d-none{
  display: none;
}

.h-100{
  height: 100vh;
}

/*=================== HEADER - NAV - MOBILE ===================*/

.nav-fx-op .logo,
.nav-fx-op .ic-menu-nav{
  z-index: 999999911;
}


.mb .nav-list{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1.6rem);
  -webkit-backdrop-filter: blur(1.6rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

@keyframes ani-nav-opn{
  0%{
    transform: translateX(120%);
    opacity: 0.3;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ani-nav-cls{
  100%{
    transform: translateX(120%);
    opacity: 0.3;
  }
}

.nav-opn{
  animation: ani-nav-opn .7s ease-in-out forwards;
}

.nav-cls{
  animation: ani-nav-cls .7s ease-in-out forwards;
}

.mb .nav-list .list-item{
  margin: 1.8rem;
}

.mb .nav-list .list-item a{
  font-size: 3.2rem;
}

.ic-menu-nav{
  position: relative;
  border: none;
  height: 2.5rem;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem;
}

.ic-op-nav-ini-af,
.ic-op-nav-ini-bf,
.ic-op-nav-icc-af,
.ic-op-nav-icc-bf{
  content: "";
  position: absolute;
  left: 0.5rem;
}

.ic-op-nav-ini-af,
.ic-op-nav-icc-af{
  bottom: 0;
}

.ic-op-nav-ini-bf,
.ic-op-nav-icc-bf{
  top: 0;
}

.ic-op-nav-ini-bf,
.ic-op-nav-ini-af,
.ic-op-nav-ini-dv,
.ic-op-nav-icc-bf,
.ic-op-nav-icc-af,
.ic-op-nav-icc-dv{
  padding-right: 5rem;
  padding-bottom: 0.3rem;
  background-color: #333;
  border-radius: 50%;
}

.ic-op-nav-icc-bf{
  animation: ani-close-nav-bf .5s ease forwards;
}
.ic-op-nav-icc-af{
  animation: ani-close-nav-af .5s ease forwards;
}
.ic-op-nav-icc-dv{
  animation: ani-close-nav-dv 1s ease forwards;
}

.ic-op-nav-ini-bf{
  animation: ani-init-ic-nav-bf .5s ease forwards;
}
.ic-op-nav-ini-af{
  animation: ani-init-ic-nav-af .5s ease forwards;
}
.ic-op-nav-ini-dv{
  animation: ani-init-ic-nav-dv .6s ease forwards;
}

/* .ic-op-nav div{
  transform: translateX(600%);
}
.ic-op-nav::before{
  top: 1rem;
  transform: rotate(45deg);
}
.ic-op-nav::after{
  bottom: 1.2rem;
  transform: rotate(-45deg);
} */
@keyframes ani-close-nav-dv{
  100%{
    transform: translateX(600%);
  }
}
@keyframes ani-close-nav-bf{
  100%{
    top: 1rem;
    transform: rotate(45deg);
  }
}
@keyframes ani-close-nav-af{
  100%{
    bottom: 1.2rem;
    transform: rotate(-45deg);
  }
}


@keyframes ani-init-ic-nav-dv{
  0%{
    transform: translateX(600%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes ani-init-ic-nav-bf{
  0%{
    top: 1rem;
    transform: rotate(45deg);
  }
  100%{
    top: 0;
    transform: translateX(0);
  }
}
@keyframes ani-init-ic-nav-af{
  0%{
    bottom: 1.2rem;
    transform: rotate(-45deg);
  }
  100%{
    bottom: 0;
    transform: translateX(0);
  }
}



/* =================== SECTION HERO =================*/

.sect-hero{
  background-color: #fdf2e9;
  padding: 5rem 0 9.6rem 0;
}

.sect-hero-content{
  max-width: 130rem;
  padding: 0 3.2rem;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 9.6rem;
  row-gap: 0;
}

.sect-hero-content .box-3{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
}

.sect-hero-content .box-3 h1{
  font-size: 5.2rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 2.4rem;
  letter-spacing: -0.1rem;
  word-spacing: 0.3rem;
  line-height: 1;
}

.sect-hero-content .box-1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.sect-hero-content .box-1 .box-1-1 p{
  font-size: 2rem;
  color: #555;
  font-weight: 400;
  margin-bottom: 4.8rem;
  line-height: 1.6;
}

.sect-hero-content .box-1 .box-1-1 .btn{
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 700;
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  display: inline-block;
}


.sect-hero-content .box-1 .box-1-1 .btn-learn{
  background-color: #fff;
  color: #333;
  margin-left: 1.6rem;
}

.sect-hero-content .box-1 .box-1-1 .btn-learn:hover{
  background-color: transparent;
  box-shadow: 0 0 0 0.3rem #fff inset;
}

.nav-btn, 
.sect-hero-content .box-1 .box-1-1 .btn{
  transition: background-color .3s;
}

.nav-btn:hover, 
.sect-hero-content .box-1 .box-1-1 .btn-start:hover{
  background-color: #cf711f;
}

.nav-btn:visited, 
.sect-hero-content .box-1 .box-1-1 .btn:visited{
  -webkit-box-shadow: 0 0 0 0.3rem rgba(230,126,34,0.6); 
  box-shadow: 0 0 0 0.3rem rgba(230,126,34,0.6);
}

.sect-hero .box-1-2{
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
}


.sect-hero .box-1-2 .faces{
  display: flex;
}


.sect-hero .box-1-2 .faces .face{
  width: 4.8rem;
  height: 4.8rem;
  margin-right: -1.8rem;
  border-radius: 50%;
  border: 0.3rem solid #fff;
}


.sect-hero .box-1-2 .faces .face:last-child{
  margin: 0;
}


.sect-hero .box-1-2 .text-r{
  font-size: 1.8rem;
  color: #555;
  font-weight: 500;
  margin-left: 1.2rem;
}

.sect-hero .box-1-2 .text-r span{
  color: #cf711f;
  font-weight: 700;
}

.sect-hero .box-2{
  display: flex;
  align-items: center;
  grid-column: -1 / -2;
  grid-row: span 2;
}

.sect-hero .box-2 img{
  width: 100%;
}

.sect-logo .container{
  max-width: 120rem;
  margin: auto;
  padding: 2rem 0 4rem 0;
}
.sect-logo .container .box-logo{
  display: flex;
}
.sect-logo .container .box-logo img{
  height: 3.2rem;
  margin: auto;
  filter: brightness(0);
  opacity: 0.5;
}
.sect-logo .container .text-t{
  text-align: center;
  padding: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 0.1rem;
}


/* =================== SECTION HWIW =================*/

.sect-hwiw{
  padding: 9.6rem 0 ;
}

.sect-hwiw .container{
  max-width: 120rem;
  margin: auto;
  padding: 3.2rem;
  box-sizing: border-box;
}


.sect-hwiw .container .hwiw{
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

.sect-hwiw .container .top-t{
  font-size: 4.4rem;
  color: #333;
  margin-bottom: 9.6rem;
}

.sect-hwiw .grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
  row-gap: 9.6rem;
}


.sect-hwiw .grid-container .grid-item{
  align-self: center;
}

.sect-hwiw .grid-container .grid-item .number{
  font-weight: 700;
  font-size: 8.6rem;
  letter-spacing: -0.1rem;
  word-spacing: 0.3rem;
  color: #c6c6c699;
  margin-bottom: 2.4rem;
}

.sect-hwiw .grid-container .grid-item .tit{
  color: #333;
  font-size: 3rem;
  margin-bottom: 3.2rem;
}

.sect-hwiw .grid-container .grid-item .cont{
  color: #555;
  line-height: 1.8;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
}

.sect-hwiw .grid-container .grid-item-img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sect-hwiw .grid-container .grid-item-img img{
  width: 40%;
}

.sect-hwiw .grid-container .grid-item-img::before{
  content: "";
  background-color: #fcf3eb;
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.sect-hwiw .grid-container .grid-item-img::after{
  content: "";
  width: 45%;
  padding-bottom: 45%;
  border-radius: 50%;
  background-color: #fae5d3;
  position: absolute;
  z-index: -1;
}


/* =================== SECTION MEALS =================*/

.sect-meals{
  padding: 9.6rem 3.6rem;
}

.sect-meals .container{
  max-width: 120rem;
  margin: auto;
}


.sect-meals .container .meals-t{
  text-transform: uppercase;
  color: #cf711f;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}

.sect-meals .container .tit{
  color: #333;
  letter-spacing: -0.1rem;
  word-spacing: 0.3rem;
  font-size: 4.4rem;
  text-align: center;
  margin-bottom: 9.6rem;
}


.sect-meals .container .grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.4rem;
}


.sect-meals .container .grid-item{
  overflow: hidden;
  border-radius: 1.2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: transform .4s;
}

.sect-meals .container .grid-item:hover{
  transform: translateY(-1.6rem);
}

.sect-meals .container .grid-item .item img{
  width: 100%;
}

.sect-meals .container .grid-item .content{
  padding: 3.6rem 5.2rem;
}

.meals-tag{
  display: flex;
  margin-bottom: 2rem;
}

.meals-tag span{
  margin-right: 0.4rem;
  padding: 0.4rem 0.8rem;
  color: #333;
  font-weight: 700;
  font-size: 1.4rem;
  border-radius: 50px;
} 

.bg-51cf66{
  background-color: #51cf66;
}

.bg-94d82d{
  background-color: #94d82d;
}

.bg-ffd43b{
  background-color: #ffd43b;
}


.meals-name{
  letter-spacing: 0.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 3.6rem;
}

.meals-attr{
  list-style: none;
}

.meals-attr-item{
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.meals-attr-item i{
  font-size: 3rem;
  color: #e67e22;
  margin-right: 1.8rem;
}

.meals-attr-item p{
  color: #555;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.grid-item-wwad h3{
  font-size: 3rem;
  margin-bottom: 3.6rem;
}

.wwad-list{
  list-style: none;
}

.wwad-item{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  color: #555;
}

.wwad-item svg{
  stroke: #e67e22;
  width: 3rem;
  height: 3rem;
  margin-right: 1.8rem;
}

.see-all-recipes{
  margin-top: 7.2rem;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
}

.see-all-recipes-link{
  /* margin: 0 auto; */
  color: #e67e22;
  font-size: 2rem;
  text-decoration: none;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid currentColor;
  transition: all .3s;
}

.see-all-recipes-link:hover{
  border: none;
}


/* =================== SECTION TESTIMONIALS =================*/

.sect-testimonials{
  background-color: #fdf2e9;
  padding: 9.6rem 3.6rem;
}

.sect-testimonials .container{
  max-width: 130rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
}

.sect-testimonials .box-1 .top-t{
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #cf711f;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

.sect-testimonials .box-1 .tit{
  font-size: 4.4rem;
  color: #333;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.1rem;
  word-spacing: 0.3rem;
  margin-bottom: 9.6rem;
}

.sect-testimonials .grid-box-1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
}

.sect-testimonials .grid-box-1 .grid-item .avt{
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.sect-testimonials .grid-box-1 .grid-item .t-1{
  font-size: 2rem;
  color: #555;
  line-height: 3.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.sect-testimonials .grid-box-1 .grid-item .by{
  font-size: 1.8rem;
  color: #666;
  letter-spacing: 0.1rem;
}


.sect-testimonials .box-2{
  align-self: center;
}

.sect-testimonials .grid-box-2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.sect-testimonials .grid-box-2 .cont-pic{
  overflow: hidden;
  border-radius: 1rem;
}


.sect-testimonials .grid-box-2 .cont-pic img{
  width: 100%;
  transition: transform .8s;
}

.sect-testimonials .grid-box-2 .cont-pic img:hover{
  transform: scale(1.2);
}


/* =================== SECTION PRICING =================*/

.sect-pricing{
  padding: 9.6rem 3.6rem;
}

.sect-pricing .container{
  margin: auto;
  max-width: 120rem;
}


.sect-pricing .container .top-t{
  text-transform: uppercase;
  color: #cf711f;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
  letter-spacing: 0.1rem;
}

.sect-pricing .container .tit{
  color: #333;
  margin-bottom: 9.6rem;
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  word-spacing: 0.3rem;
}

.sect-pricing .cont-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
}


.sect-pricing .cont-grid-item{
  width: 75%;
  padding: 5.2rem;
  box-sizing: border-box;
  border: 0.2rem solid #fdf2e9;
  border-radius: 1.2rem;
}

.sect-pricing .cont-grid-item:first-child{
  justify-self: end;
}

.bg-fdf2e9{
  background-color: #fdf2e9;
}

.sect-pricing .cont-grid-item p:first-child{
  font-size: 2rem;
  font-weight: 700;
  color: #cf711f;
  text-align: center;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.sect-pricing .cont-grid-item p:nth-child(2){
  color: #333;
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
  text-align: center;
  font-weight: 500;
}


.sect-pricing .cont-grid-item p:nth-child(2) strong{
  font-size: 6.2rem;
}


.sect-pricing .cont-grid-item p:nth-child(3){
  color: #555;
  font-size: 1.8rem;
  margin-bottom: 6.4rem;
  text-align: center;
}


.sect-pricing .cont-grid-item ul{
  list-style: none;
}


.sect-pricing .cont-grid-item ul li{
  font-size: 2rem;
  color: #555;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}


.sect-pricing .cont-grid-item ul li svg{
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 2rem;
  stroke: #e67e22;
}


.sect-pricing .cont-grid-item .start-eating-well{
  text-align: center;
  margin-top: 8rem;
}

.sect-pricing .cont-grid-item .start-eating-well a{
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  background-color: #e67e22;
  padding: 1.6rem 3.2rem;
  border-radius: 1.2rem;
  margin: auto;
  transition: background-color .3s;
}


.sect-pricing .cont-grid-item .start-eating-well a:hover{
  background-color: #cf711f;
}

.sect-pricing .bot-t{
  color: #555;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 6.4rem;
}

.sect-pricing .grid-bot{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
  margin-top: 12.8rem;
}


.sect-pricing .grid-bot-item ion-icon{
  width: 3.2rem;
  height: 3.2rem;
  background-color: #fdf2e9;
  color: #e67e22;
  padding: 2rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.sect-pricing .grid-bot-item strong{
  display: block;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  color: #333;
  margin-bottom: 2rem;
}

.sect-pricing .grid-bot-item p{
  font-size: 2rem;
  color: #555;
  line-height: 2;
  letter-spacing: 0.1rem;
}


/* =================== SECTION TRY FOR FREE =================*/

.sect-tff{
  padding: 12.8rem 3.6rem;
}

.sect-tff .container{
  margin: auto;
  max-width: 120rem;
  background-color: #e98b38;
  border-radius: 1.2rem;
  overflow: hidden;
}

.sect-tff .grid-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}


.sect-tff .grid-box-item{
  grid-column: 1 / -2;
}

.sect-tff .grid-box-item-in{
  padding: 6.4rem;
}


.sect-tff .grid-box-item-in h1{
  font-size: 4.4rem;
  letter-spacing: -0.1rem;
  word-spacing: 0.3rem;
  color: #45260a;
  margin-bottom: 2.4rem;
}

.sect-tff .grid-box-item-in p{
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: #45260a;
  line-height: 2;
  margin-bottom: 4.4rem;
}

.sect-tff .regis-to-try{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
} 


.sect-tff .regis-to-try .f-item label{
  color: #45260a;
  margin-bottom: 1.4rem;
  font-size: 2rem;
  font-weight: 500;
  display: block; 
}

.sect-tff .regis-to-try .f-item input,
.sect-tff .regis-to-try .f-item select{
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;
  box-sizing: border-box;
  font-family: inherit;
  color: #45260a;
  background-color: #fdf2e9;
  border-radius: 1rem;
  border: none;
  letter-spacing: 0.1rem;
}


.sect-tff .regis-to-try button{
  width: 100%;
  padding: 1.2rem;
  background-color: rgb(69, 38, 10);
  letter-spacing: 0.1rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  align-self: end;
  transition: all .3s;
}

.sect-tff .regis-to-try button:hover{
  background-color: #fdf2e9;
  color: #45260a;
}


.sect-tff .grid-box-item-bgimg{
  grid-column: -2 / -1;
  background-image: linear-gradient(to right bottom, rgba(235, 152, 78, 0.3), rgba(230, 126, 34, 0.4)),
                    url("./img/eating.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




footer{
  padding: 12.8rem;
  border-top: 0.1rem solid #eee;
  -webkit-box-shadow: 0px -4px 11px -11px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px -4px 11px -11px rgba(66, 68, 90, 1);
box-shadow: 0px -4px 11px -11px rgba(66, 68, 90, 1);
}

footer .container{
  max-width: 120rem;
  margin: auto;
}

.grid-f{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  gap: 4.4rem;
}

.grid-f-item{
  align-self: start;
  justify-self: center;
}

.grid-f-item .t-1 .logo{
  width: 8rem;
  border-radius: 1.2rem;
}

.grid-f-item .t-1 .social-ic{
  display: flex;
  margin: 2.4rem 0 3.2rem 0;
}

.grid-f-item .t-1 .social-ic ion-icon{
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 2rem;
  color: #888;
}


.grid-f-item .t-1 .by{
  font-size: 1.8rem !important;
  color: #777 !important;
  font-style: italic;
}


.grid-f-item .grid-f-item-in .st-t{
  font-size: 2rem;
  color: #555;
  margin-bottom: 4.4rem;
  font-weight: 500;
}

.grid-f-item .grid-f-item-in ul{
  list-style: none;
}

.grid-f-item .grid-f-item-in ul li{
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  color: #555;
  line-height: 1.6;
}

.grid-f-item .grid-f-item-in ul li a{
  color: #777;
  transition: all .3s;
}


.grid-f-item .grid-f-item-in ul li a:hover{
  color: #e67e22;
}


tt{
  font-size: 2rem;
  color: #555;
  font-style: italic;
}